@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--de-bg-grad:linear-gradient(270deg,#ffdf00 0%,#f6d108 27.6%,#edc211 54.17%,#e3b419 77.6%,#daa521 100%);
}
.gradient_elements_text{
    background-image: var(--de-bg-grad);
    color: transparent;
    -webkit-background-clip: text;
}
.gradient_elements_div{
    background-image: var(--de-bg-grad);

}
button:disabled{
filter: brightness(0.44) ;
cursor:not-allowed ;
}