@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root and tag styles */
:root{
--de-bg-grad:linear-gradient(270deg,#ffdf00 0%,#f6d108 27.6%,#edc211 54.17%,#e3b419 77.6%,#daa521 100%);
user-select: none;
}
button:disabled{
  filter: brightness(0.75) ;
  cursor:not-allowed ;
}
  
canvas {
    border: 1px solid #ccc;
    width: 100%;
    height: 60px;
    margin-top: 10px;
  }














/* STYLE LIBRARIES  */

/* antd style modifications */

.ant-notification-notice-message{
  color: white !important;
}
.ant-notification-notice-close-icon{
  color: #fffa;
}

.ant-float-btn-body{
  /* bottom: -10% !important; */
  /* opacity: 0; */
  background-color: #ffdf00 !important;
  width: 55px !important;
  height: 55px !important;
  
}
.ant-dropdown-menu{
  background-color: #000a !important;
  /* min-height:130px; */
  backdrop-filter: blur(10px);
  justify-content: space-between;
  display: flex;
  border-radius: 0 !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  flex-direction: column;
  border: 1px solid #f6d108 ;
  padding: 1.5em 0.5em !important;
  transform: translateX(17.5px) translateY(10px) !important;

  }


/* swiper js style modifications */
  
.swiper-button-next,.swiper-button-prev{
  fill: #ffdf00 !important;
  color: #ffdf00 !important;
  position: absolute !important;
}
.swiper-pagination{
  position: absolute !important;
  bottom: 10% !important;
  /* background-color: #ffdf00 !important; */
  color: #444 !important;
}

.swiper-pagination-bullet{
background-color: #c8c8c8 !important;

}
.swiper-pagination-bullet-active{
background-color: #ffdf00 !important;
}

/* END LIBRARIES STYLES */














  /* Generally used utils styles */
  .backgroundVector{
    background-image:url(../public/images/BACKG.jpg);
    background-size: 150% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hover-icon-svg{
    transition-duration: 0.13s;
  transition-timing-function: ease-in-out;
  }
  .hover-icon-svg path:hover{
  fill: #ffdf00;
  
  }

  
  .gradient_elements_text{
    background-image: var(--de-bg-grad) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
  }
  .gradient_elements_div{
    background-image: var(--de-bg-grad);
  
  }
  .line-break{
    line-break: strict;
  }
  .copyIconSVG path{
    fill: #f6d108 !important;
  }
  .shadow-div{
    box-shadow: 2px 2px 20px #000b;
  }
  








/* Nav */

.svg line{
  fill: white;
  stroke: #edc211;

}








/* Loading  page styles */
.loading-container-nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
  background-color: #0003;
  background-image: url(../public/images/spinner.gif);
  background-size: 10% 10%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: calc(50% - 40px);

}
.filterImage{
    /* backdrop-filter: brightness(0.2); */
    opacity: 0.4;
}
















/* DENONYMOUS RESPONSE */

/* Media layouts */
.gridMediaDisplay4{
    display: grid;

    grid-template-areas:
    "media0 media1"
    "media2 media3"
    ;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    gap: 6px;
}
.gridMediaDisplay3{
    display: grid;
    grid-template-areas:
    "media0 media2"
    "media1 media2"
    ;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    gap: 6px;

}
.gridMediaDisplay2{
    display: grid;
    grid-template-areas:
    "media0 media1"
    "media0 media1"
    ;
    justify-content: center;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
    height: 200px;
    width: 100%;
    gap: 6px;
}
.gridMediaDisplay1{
    display: grid;
    grid-template-areas:
    "media0 media0"
    "media0 media0"
    ;
    /* justify-content: center;
    gap: 6px; */


}
.media_0{
    grid-area: media0;
    height: 100%;
    min-height: 150px;
    width: 100%;
}
.media_1{
    grid-area: media1;
    height: 100%;
    min-height: 150px;
    width: 100%;

}
.media_2{
    grid-area: media2;
    height: 100%;
    min-height: 150px;
    width: 100%;

 

}
.media_3{
    grid-area: media3;
    height: 100%;
    min-height: 150px;
    width: 100%;

 }

 .image-container,.swiper-slide {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }

  .centered-image {
    /* max-width: 100%;
    max-height: 100%; */
    object-fit: contain !important;
    display: block;
    margin: auto;
    height:100%;
    
  }

  .centered-video {
    max-width: 100%;
    height: 70%;
    display: block;
    margin: auto;
  }


/* Audio response styles */
 audio::-webkit-media-controls {
    appearance: none;
  }
  #audio-player {
    width: 300px;
    margin: 20px auto;
    text-align: center;
  }
  
  #waveform ::part(cursor):before {
    content: '';
    position: absolute;
    top: 50%;
  }
  #playIcon{
   color: #f6d108;
    /* color: transparent;
    -webkit-background-clip: text; */
  }
  #pauseIcon{
    color: #f6d108;

  }

  #reply_container_ul{
    max-width: 570px !important;
    margin: auto !important;
  }





















@media screen and (min-width:640px) {
  .backgroundVector{
    background-image:url(../public/images/BACKG.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width:768px) {

  .full_response_container_textarea{
    display: grid;
    grid-template-areas: 
    "icons send_resp"
    "prev prev"
    ;
    width: 100%;
    grid-column: 1fr 1fr;
  }
 #uploadMediaIcons{
    grid-area: icons;
    align-self: center;
    
  }
  #previewMediaContainer{
    grid-area: prev;
    width: 100%;
    /* margin: auto !important; */
  }
  #sendResponseContainer{
    grid-area: send_resp;
  }
  #upload_media_container{
    grid-area: upload_media_container;
  }  #reply_container_ul{
  padding: 3em 2em !important;
  }
}
.topicText{
  overflow: hidden;
  height:2.5ch;
  width:70% !important;
  margin: auto;
  font-size: 1.32rem;

}
.topicTextLarge{
  /* background-color: red; */
  overflow: hidden;
  height:2.5ch;
  width:70% !important;
  margin: auto;
  /* line-break: anywhere; */
  font-size: 1.11rem !important;
  /* text-overflow:ellipsis; */
}