@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.all {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.authBg {
  background: linear-gradient(
    270deg,
    #ffdf00 0%,
    #f6d108 27.6%,
    #edc211 54.17%,
    #e3b419 77.6%,
    #daa521 100%
  );
}
